# Environment
.env

.tmp
*intercom*
cities.json

.DS_Store
*DS_Store*

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
# Node dependencies
node_modules
.npm
npm-shrinkwrap.json
build/Release