extends layout

block content

	#colorbar
		.green
		.red
		.orange
		.yellow

	#status-board
		.stats
			.card.total-subs
				.title Subscribers
				.big-number #{subCount}
				#sub-trend
					.trend-arrow
					.trend-label Up
			
			.card.total-trials
				.title Trials
				.big-number #{trialCount}
				
			img(src='/img/missions-icon-circle-white.png')

		.map
			#mapdiv

	footer.refreshed #{refreshed}

	script(src='https://code.jquery.com/jquery-3.2.1.min.js',   integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
	script(src='/ammap/ammap.js', type='text/javascript')
	script(src='/ammap/maps/js/worldLow.js', type='text/javascript')
	script(src='/socket.io/socket.io.js')

	script.
		var socket = io();
		socket.on('connect', function(data) {
			socket.emit('join', 'Hello from client');
		});

		socket.on('message', function(data) {
			$('.refreshed').text('Updated: ' + data.refreshed);
			$('.total-subs .big-number').text(data.subCount);
			$('.total-subs #sub-trend').removeClass();
			$('.total-subs #sub-trend').addClass(data.subCountTrend);
			$('.total-subs #sub-trend .trend-label').text('');
			console.log(data)
			$('.total-subs #sub-trend .trend-label').text(data.subCountTrend);
			$('.total-trials .big-number').text(data.trialCount);
		});
	
		socket.on('map', function (data) {
			let mapCoords = [];
			let locs = [];
			mapCoords = data.mapCoords;

			for (let i = 0; i < mapCoords.length; i++) {
				let e = '{"latitude":' + mapCoords[i].lat + ', "longitude":' + mapCoords[i].lng + ', "type": "circle", "color": "#6c00ff"}';
				let o = JSON.parse(e);
				locs.push(o);
			};

			AmCharts.makeChart( "mapdiv", {
				"type": "map",

				"dataProvider": {
					"map": "worldLow",
					"images": locs,
				},

				"areasSettings": {
					"autoZoom": false,
					"alpha": 1,
					"color": "#FFCC00",
					"outlineAlpha": 1,
					"outlineColor": "#CC0000",
					"selectedColor": "#CC0000",
					"unlistedAreasAlpha": .75,
					"unlistedAreasColor": "#2e2e2e",
					"unlistedAreasOutlineAlpha": 0,
					"unlistedAreasOutlineColor": "#FFFFFF"
				},

				"zoomControl": {
					"zoomControlEnabled": false,
					"homeButtonEnabled": false
				},

				"smallMap": {
					"enabled": false
				}
			});
		})